<template>
  <div id="app">
    <div class="w-1/4 m-auto p-8">
      <p>Add some Events here</p>
      <input
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        type="text"
        v-model="event.title"
        placeholder="Title"
      />

      <input
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        placeholder="Description"
        type="text"
        v-model="event.description"
      />

      <input
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        type="text"
        placeholder="Price"
        v-model="event.price"
      />

      <Button
        class="mt-8 w-1/2 p-2 rounded-lg bg-blue-500 text-white font-bold"
        value="Submit"
        @click="createEventMutation"
      >
        Submit
      </Button>
    </div>
  </div>
</template>

<script>
// import { createEvent } from "../graphql/movie";

export default {
  name: "App",
  data() {
    return {
      event: {},
    };
  },

  methods: {
    createEventMutation() {
      // this.event.price = parseInt(this.event.price);
      // console.log("event ", this.event);
      // this.$apollo
      //   .mutate({
      //     mutation: createEvent,
      //     variables: {
      //       input: this.event,
      //     },
      //   })
      //   .then(async (result) => {
      //     console.log("result", result);
      //     await this.refetchData();
      //     alert("Inserted record");
      //   })
      //   .catch((err) => {
      //     console.log(err);
      //   });
    },
    async refetchData() {
      await this.$apollo.queries.events
        .refetch()
        .then((data) => {
          console.log("category refetch", data);
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
