<template>
  <div>
    <div class="m-auto p-8 text-center font-extrabold text-green-600 text-5xl">
      Welcome to Vue page
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>