<template>
  <div>
    <div class="m-8">
      <input
        type="text"
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        v-model="movie.name"
        placeholder="Name"
      />
      <input
        type="text"
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        v-model="movie.genere"
        placeholder="Genere"
      />

      <input
        type="text"
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        v-model="movie.language"
        placeholder="Language"
      />
      <input
        type="text"
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        v-model="movie.price"
        placeholder="Price"
      />
      <input
        type="text"
        class="w-full mt-2 p-2 rounded-lg border border-gray-300"
        v-model="movie.rating"
        placeholder="Rating"
      />
      <div class="m-10">
        <button class="p-2 bg-green-500 w-full" @click="createMovie">
          Submit
        </button>
      </div>
    </div>

    <div v-if="$apollo.loading">loading....</div>
    <div v-else>
      <!-- {{ movies }} -->
      <Movie v-for="movie in movies" :key="movie.id" :movie="movie"></Movie>
    </div>
  </div>
</template>

<script>
import { movies, createMovie } from "../graphql/movie";
import Movie from "../components/Movie";
export default {
  apollo: {
    movies: {
      query: movies,
    },
  },
  components: {
    Movie,
  },
  data() {
    return {
      movie: {},
    };
  },
  mounted() {
    console.log("console apollo", this.$apollo);
    this.movie.genere = "Romantic";
    this.movie.language = "Hindi";
    this.movie.name = "hello";
    this.movie.price = 400;
    this.movie.rating = 8;
  },
  methods: {
    createMovie() {
      console.log("movie", this.movie);
      this.movie.price = parseInt(this.movie.price);
      this.movie.rating = parseInt(this.movie.rating);
      console.log("movie", this.movie);
      this.$apollo
        .mutate({
          mutation: createMovie,
          variables: {
            input: this.movie,
          },
        })
        .then(async (result) => {
          console.log("result", result);
          await this.refetchData();
          console.log("inserted dataa and refetched");
          alert("Inserted record");
        })
        .catch((err) => {
          console.log("error", err);
          var string = JSON.stringify(err);
          var obj = JSON.parse(string);
          console.log("parsed", obj.graphQLErrors, string);
          console.log("object converted", obj.message);
          console.log("error occured", typeof err, err["ValidationError:"]);
          alert(obj.message);
        });
    },
    refetchData() {
      console.log("refetching");
      this.$apollo.queries.movies
        .refetch()
        .then((data) => {
          console.log("category refetch", data);
          this.movie = {};
        })
        .catch((err) => console.log(err));
    },
  },
};
</script>

<style>
</style>