<template>
  <div>
    <div class="w-full bg-black text-white p-2">
      <div
        v-for="(route, index) in routes"
        :key="index"
        class="inline-block p-2"
      >
        <router-link :to="route.to">{{ route.title }}</router-link>
      </div>
    </div>

    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Default",
  data() {
    return {
      routes: [
        { to: "/app", title: "App" },
        { to: "/movies", title: "Movie" },
        { to: "/", title: "Home" },
      ],
    };
  },
};
</script>

<style>
</style>