<template>
  <div class="bg-green-500 m-2 text-white p-2 inline-block">
    <!-- {{ title }}
    {{ description }}
    {{ price }} -->
    <div>Name:{{ movie.name }}</div>
    <div>Genere:{{ movie.genere }}</div>
    <div>Language:{{ movie.language }}</div>
    <div>Rating: {{ movie.rating }}</div>
  </div>
</template>

<script>
export default {
  props: {
    movie: Object,
  },
};
</script>

<style>
</style>