/* @import "vue-multiselect/dist/vue-multiselect.min.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  } */

 